
.ob-zaaktype-filter__dropdown .mykn-body .mykn-button {
  --button-color-background-primary: transparent;
  --button-color-text-primary: var(--page-color-primary);

  --button-color-background-secondary: transparent;
  --button-color-text-secondary: var(--typography-color-muted);

  --button-color-background-danger: transparent;
  --button-color-text-danger: var(--page-color-danger);
}

.ob-zaaktype-filter__dropdown .mykn-radiogroup {
  column-gap: var(--spacing-s-h);
  display: grid;
  grid-template-rows: repeat(1, auto);
  grid-auto-flow: column;
  row-gap: var(--spacing-xs-v);
}


