html,
body,
#root {
  --page-color-primary: #2F8CDD!important;
  --page-color-accent: rgba(47, 140, 222, 0.3) !important;
  height: 100%;
}

body {
  background-color: var(--typography-color-background-alt);
  margin: 0;
}
