html,
body,
#root {
  --page-color-primary: #2F8CDD!important;

  /* Backport to admin-ui? */
  --button-color-text-transparent-active: var(--button-color-text-transparent);
  --button-color-background-transparent-active: var(--typography-color-background-alt);
  --button-color-text-outline-active: var(--button-color-text-transparent);
  --button-color-background-outline-active: var(--typography-color-background-alt);
  --typography-color-background-alt: light-dark(#EEEEEE, #252f3d);

  /* FIXME. */
  --page-color-logo: hsl(253 69% 33%);

  height: 100%;
}

body {
  background-color: var(--typography-color-background-alt);
  margin: 0;
}
