.related-object-badge {
  display: inline-flex;
  gap: var(--sizes-spacing-xs-h);

  .mykn-a {
    color: inherit;
    font-weight: normal;
  }

  .mykn-a:not(:first-child):last-child:before {
    content: "|"
  }
}
